.card {
    height: 550px;
    width: 400px;
    border: 2px solid black;
    border-radius: 25px;
    margin:10px;
    padding: 10px;
}

img {
    height:250px;
    width: 400px;
    border-radius: 25px;
}

#pets {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

h2 {
    color: #d56f3e;
    font-size: 25px;
}

span {
    color: #9d6f24;
}

h4 {
    text-align: right;
    color: #3c787e;
}